/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
	padding:0px;
	margin:0px;
}


html{
    font-size:10px;
	font-family: 'inter';
    scroll-behavior: smooth;
}

:root{
	--blue:#0A3D62;
	--green:#A4C639;
	--lime:#F0F9F4;
	--translucent_lime:rgba(240,249,244,0.7);
}


.hide{
	display:none;
}

.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 95%;
}



body{
	background:var(--lime);
}


.blocker{
	width:100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width:300px;
    max-width:1300px;
    margin:0 auto;
	overflow:hidden;
}

.blocker2{
	width:100vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width:300px;
	background:var(--blue);
	overflow: hidden;
}

	section{
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		background:var(--lime);
		min-height: 100vh;
		padding:30px 5%;
		/* padding:30px 16px; */
	}


@media (min-width:501px){
	section{
		padding:30px 10%;
	}
}

@media (min-width:901px){
	section{
		padding:30px 15%;
	}
}

@media (min-width:1051px){
	section{
		padding:30px 20%;
	}
}


















::-webkit-scrollbar {
    display: none;
}